<div class="centered-content">
  <h1> Search Results for<br /> "<%= @facade.question %>"</h1>
  <%= link_to "Back to #{@facade.question}", :back %>
  <ul>
    <% cache("results-#{@facade.question}") do %>
      <% @facade.results.each do |result| %>
        <li>
          <div class="result">
            <% path = source_path(source: result.source_params) %>

            <%= link_to path, class: "search-result-link" do %>
              <div class="head">
                <h3><%= result.title %></h3>
                <span class="url"><%= result.url %><br /></span>
              </div>
              <%= result.snippet %>
            <% end %>
          </div>
          <hr>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
