</br>
<% if @facade.saved? %>
  <h3><%= link_to @facade.topic_title, topic_path(@facade.topic), target: "_parent", class:'link-btn'%></h3>
  <div class="sidebar-question"><%= @facade.question_text %></div>
  <div class="new-note-form">
    <%= form_for [@facade.source, @facade.new_note] do |f| %>
      <%= f.text_area :text, placeholder: "Something worth remembering? Take a note.", required: true, class: "new-note-field" %>
      <%= f.submit "Save", class: "save-note"%>
    <% end %>
  </div>
  <div id="notes">
    <h4 style="text-align:center;">Saved Notes</h4>
    <% @facade.notes.each do |note| %>
      <div class="note">
        <%= note.text %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= button_to "Save", question_sources_path(question_id: @facade.question_id),
                        params: { source: @facade.source_params },
                        method: :post,
                        id: "save-source" %>
<% end %>
