<div class="topics">
  <% topics.each do |topic|%>
    <div class="topic">
      <button class="collapsible" ><i class="fa fa-angle-right"></i></button>
      <div class="title"><%= link_to(topic.title, "/topics/#{topic.id}") %></div>
      <%= button_to "Delete Topic", topic_path(topic), method: :delete, data: {confirm: "Are you sure you want to delete #{topic.title} and everything it leads to?"}, id: "delete-topic-btn" %>

      <%= render '/user/topics/edit_topic_form',
            topic: topic %>
      <%= render '/user/questions/question_form',
            topic: topic,
            question: new_question %>
      </div>
    </div>

    <div class="questions" style="display: none;">
    <%= render '/user/questions/simple_question_list',
          topic: topic,
          questions: topic.questions %>
    </div>
    <hr />
  <% end %>
</div>

<script>
var collapsibleElement = document.getElementsByClassName("collapsible");
var i;
var questions = document.getElementsByClassName("questions");

for (i = 0; i<collapsibleElement.length; i++) {

  collapsibleElement[i].addEventListener("click", function() {
    this.classList.toggle("active");

    var content = this.parentNode.nextElementSibling;

    if (content.style.display === "block") {
      this.innerHTML = '<i class="fa fa-angle-right"></i>';
      content.style.display = "none";

    } else {
      this.innerHTML = '<i class="fa fa-angle-down"></i>';
      content.style.display = "block";
    };
  })
}

</script>
