<div class="topics">
  <% topics.each do |topic|%>
    <div class="topic-box">
      <div class="topic">
        <button class="collapsible" ><i class="fa fa-angle-right"></i></button>
        <div class="title">
          <div class="link-and-edit">
            <%= link_to(topic.title, "/topics/#{topic.id}", class: "") %>
            <%= render '/user/topics/edit_topic_form', topic: topic %>
          </div>
          <%= link_to topic_path(topic), method: :delete, data: {confirm: "Are you sure you want to delete #{topic.title} and everything it leads to?"},  class: "delete-topic-btn" do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
        <%= render '/user/questions/question_form',
              topic: topic,
              question: new_question %>
      </div>
      
      <div class="questions" style="display: none;">
      <%= render '/user/questions/simple_question_list',
            questions: topic.questions %>
      </div>
    </div>
  <% end %>
</div>
