<div class="topics">
  <% topics.each do |topic|%>
    <div class="topic">
      <div class="title"><%= link_to(topic.title, "/topics/#{topic.id}") %></div>
      <%= link_to "Delete Topic", topic_path(topic), method: :delete, data: {confirm: "Are you sure you want to #{topic.title} and everything it leads to?"}, id: "delet-topic-btn" %>
      <%= render '/user/topics/edit_topic_form',
            topic: topic %>
      <%= render '/user/questions/question_form',
            topic: topic,
            question: new_question %>
      </div>
    </div>
    <%= render '/user/questions/simple_question_list',
          topic: topic,
          questions: topic.questions %>
    <hr />
  <% end %>
</div>
