<%# TODO: Refactor to use presenter pattern %>
<% @facade.topics.each do |topic|%>
  <div class="topic">
    <%= topic.title %>
    <%= form_for [topic, @facade.new_question] do |f| %>
      <%= f.text_field :text, placeholder: "Who framed Roger Rabbit?" %>
      <%= f.submit "Submit"%>
    <% end %>
    <hr />
    <% topic.questions.each do |question| %>
      <%= question.text %>
    <% end %>
  </div>
<% end %>

<%= form_for @facade.new_topic do |f| %>
  <%= f.text_field :title, placeholder: 'Health' %>
  <%= f.submit 'Submit' %>
<% end %>