<div class="centered-content">
  <div class="title">
    <%= @topic.title %>

    <div class="list">
      <ul>
        <% @topic.questions.each do |question| %>
          <li>
            <div class="question">
              <%= question.text %>
              <% question.sources.each do |source| %>
                <%= source.title %>
                </br>
                <%= source.display_url %>
                </br>
                <%= source.snippet %>
                </br>
              <% end %>
            </div>
          </li>
        <hr />
        <% end %>
      </ul>
    </div>
  </div>
</div>
