<div class="centered-content">
    <h1 style="text-align: center;"><%= @topic.title %></h1>
    <!-- <div class="topics-link">
      <%= link_to 'All Topics', topics_path %>
    </div> -->
    <div class="new-question">
      <%= render '/user/questions/question_form', topic: @topic,
          question: @facade.new_question %>
    </div>
    <div class="list">
      <!-- <h2 style="text-align: center;">Questions and Saved Sources</h2> -->
      <% @topic.questions.each do |question| %>
        <div class="question-box">
          <%= render '/user/questions/question_row', question: question %>
          <div class="sources">
            <% question.sources.each do |source| %>
              <%= link_to source_path(source: source.params),
                    class: "search-result-link" do %>
                <div class="source">
                  <h3><%= source.title %></h3>
                  <span class="url"><%= source.url %><br /></span>
                  <%= source.snippet %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
</div>
