<div class="centered-content">
    <h1 style="text-align: center;"><%= @topic.title %></h1>

    <div class="list">

        <h2 style="text-align: center;">Questions and Saved Sources</h2>
        <hr>
        <% @topic.questions.each do |question| %>
            <div class="question">
              <div class="search-button"><%= link_to search_path(question: question.id) do %>
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                          <% end %>
                <div class="question-text"><%= question.text %></div>
              </div>
              <div class="delete-button"><%= link_to topic_question_path(@topic, question), method: :delete, data: {confirm: "Are you sure you want to delete #{question.text} and everything it leads to?"} do %>
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                          <% end %>
              </div>

              <% question.sources.each do |source| %>
                <div class="source">
                  <strong><%= source.title %></strong></br>
                  <a href=""><%= source.display_url %></a></br>
                  <%= source.snippet %></br>
                </div>
              <% end %>
            </div>
        <hr />
        <% end %>
    </div>
</div>
