<div class="centered-content">
  <div class="title">
    <h1><%= @topic.title %></h1>

    <div class="list">
      <ul>
        <h2>Questions and Saved Sources</h2>
        <hr>
        <% @topic.questions.each do |question| %>
          <li>
            <div class="question">
              <h3><%= question.text %>
                  <%= button_to 'Delete Question', topic_question_path(@topic, question), method: :delete, class: 'delete-btn', data: {confirm: "Are you sure you want to delete #{question.text} and everything it leads to?"} %>
              </h3>
              <% question.sources.each do |source| %>
                <div class="source">
                  <strong><%= source.title %></strong></br>
                  <a href=""><%= source.display_url %></a></br>
                  <%= source.snippet %></br>
                </div>
              <% end %>
            </div>
          </li>
        <hr />
        <% end %>
      </ul>
    </div>
  </div>
</div>
