<div class="centered-content">
  <div class="title">
    <h1><%= @topic.title %></h1>

    <div class="list">
      <ul>
        <h2>Questions and Saved Sources</h2>
        <hr>
        <% @topic.questions.each do |question| %>
          <li>
            <div class="question">
              <h3>
                  <%= link_to 'Search', search_path(question_id: question.id), class: 'search-link' %>
                  <%= question.text %>
                  <%= button_to 'Delete Question', question_path(question), method: :delete, class: 'delete-btn', data: {confirm: "Are you sure you want to delete #{question.text} and everything it leads to?"} %>
              </h3>
              <% question.sources.each do |source| %>
                <%= link_to source_path(source: source.params),
                      class: "search-result-link" do %>

                  <div class="source">
                    <h3><%= source.title %></h3>
                    <span class="url"><%= source.url %><br /></span>
                    <%= source.snippet %>
                  </div>

                <% end %>
              <% end %>
            </div>
          </li>
        <hr />
        <% end %>
      </ul>
    </div>
  </div>
</div>
