<!DOCTYPE html>
<html>
  <head>
    <title>VeeoWaypoint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-link">
        <% if current_user  %>
        <div class="logged-in">
          <%= link_to 'All Topics', topics_path, class: "cool-button"  %>
        </div>
        <div class="log-out">
          <span class="nav-text">Logged in as <%= current_user.first_name%></span>
          <%= link_to 'Logout', '/logout', class: "cool-button-2"  %>
        </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
